extends base

block content
	p Hi #{firstName},
	table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
		tbody
			tr
				td(align='left')
					table(role='presentation', border='0', cellpadding='0', cellspacing='0')
						tbody
							tr
								td
									a(href=`${url}`, target='_blank') Reset Password
	p Forgot your password? Submit a patch request with your new password and passwordConfirm to:<br>
		| #{url}<br>
		| within 10 minutes.<br>
		| Else, ignore this email.<br>